/* CSS Document */
body{padding:0px; margin:0px; background:black; color:white; font:10px/14px Tahoma, sans-serif; }
div, p, ul, h2, h3, h4, img{padding:0px; margin:0px;}
ul{list-style-type:none;}
article {width: 780px; padding: 0px; margin: auto; background:black;}

.clear {clear: both; margin: 0px}
p span.headline{font:12px/14px "Times New Roman", Times, serif; color:white; font-weight:bolder;}

/* HEADER */

#header{width:775px; height:260px; background:url(images/b_top_index.jpg) 0 0 no-repeat; position:relative; margin: 0 auto;}
#logo{position:absolute; top:30px; left:320px}

#header ul{height:19px; position:absolute; top:160px; left:340px; width:415px}
#header ul li{float:right; margin-right:7px}

#header ul li.blog a{width:107px; height:42px; display:block; background:url(images/btn_blog.gif) 0 0 no-repeat; text-indent:-20000px; }
#header ul li.blog a:hover{width:107px; height:42px; background:url(images/btn_blog_over.gif) 0 0 no-repeat;}

#header ul li.art a{width:107px; height:42px; display:block; background:url(images/btn_art.gif) 0 0 no-repeat; text-indent:-20000px; }
#header ul li.art a:hover{width:107px; height:42px; background:url(images/btn_art_over.gif) 0 0 no-repeat;}

#header ul li.games a{width:107px; height:42px; display:block; background:url(images/btn_games.gif) 0 0 no-repeat; text-indent:-20000px; }
#header ul li.games a:hover{width:107px; height:42px; background:url(images/btn_games_over.gif) 0 0 no-repeat;}

#header ul li.break{width:5px; height:19px; display:block;}

/* CONTENT */

#content{width:716px; position:relative; margin: 0 auto; padding-left:28px; clear:both;}
.line{width:10px; height:300px;  background:url(images/line.jpg) 0 0px no-repeat; position:relative; float:left;}

#about{width:300px; position:relative; float:left; display:inline; margin:0 12px -10px 12px;}
#about h2{height:49px; background:url(images/h_about.gif) 0 0 no-repeat; position:relative; clear:both; margin-bottom:13px; margin-left:15px}
#about p{padding-left:2px;}
#about p span{margin-bottom:0px; display:block; }
#about img{padding-left:2px; margin-top:15px;}

#about ul{margin-top:10px;}
#about li{background:url(images/arrow.gif) 13px 2px no-repeat; padding-left:30px; height:24px}
#about li a{font:10px/14px Tahoma, sans-serif; color:white; font-weight:normal; text-decoration:underline}
#about li a:hover{color:gray; font-weight:normal; text-decoration:none; background:black;}

#welcome{width:300px; position:relative; float:left; display:inline; margin:0 23px 0px 12px;}
#welcome img{float:left;  position:relative; margin-bottom:7px}
#welcome h3{height:155px; width:155px; background:url(images/newwindow_closed.png) 0 0 no-repeat; position:absolute;}
#welcome h3:hover{height:155px; width:155px; background:url(images/newwindow_open.png) 0 0 no-repeat; position:absolute;}
#welcome h2{height:49px; width:170px; background:url(images/h_welcome.gif) 0 0 no-repeat; position:absolute; margin-left:156px;  margin-bottom:13px}
#welcome p span{display:block; width:160px; margin-top:60px; margin-left:150px; position:absolute; margin-bottom:7px; text-align: center;}
#welcome p{padding-left:5px}

#welcome ul{margin-top:10px;}
#welcome li{background:url(images/arrow.gif) 13px 2px no-repeat; padding-left:30px; height:24px}
#welcome li a{font:10px/14px Tahoma, sans-serif; color:white; font-weight:normal; text-decoration:underline}
#welcome li a:hover{color:gray; font-weight:normal; text-decoration:none; background:black;}

/* BOTTOMLINE */
#bottomline{width:775px; position:relative; margin: 0 auto;}

/* NEWS */
#news{ border-style: double; border-color: black; border-width: 0px;}
iframe.news { border-style: double; border-color: black; border-width: 0px;}

/* GAMES */
#games{width:775px; height:131px; position:relative; margin: 0 auto; clear:both}
#games h2{height:80px; width:180px; position:relative; float:left; display:inline; margin:10px 23px 0 40px;}
.newgame{width:225px; float:left; margin:7px 30px 0 0; display:block}
.newgame img{float:left; border:black 4px solid; margin-right:15px; }
.newgame p {border:black 4px solid; color:white; margin-top:5px; background:black;}

#games a{font:14px Tahoma, sans-serif; color:gray; font-weight:bold; text-decoration:none }
#games p a:hover{color:gray; border-bottom: #cfa779 1px dotted; text-decoration:none }

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: black;
    background: black;
    border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray; 
}