/* CSS Document */
body{padding:0px; margin:0px; background:black; color:white; font:10px/14px Tahoma, sans-serif; }
div, p, ul, h2, h3, h4, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

.clear {clear: both; margin: 0px}

p span.headline{font:12px/14px "Times New Roman", Times, serif; color:white; font-weight:normal;}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: black;
    background: black;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
}