/* General Styling */
body{background:black; font:24px/48px Tahoma, sans-serif; margin: 0;}
p{color:white; font-size:20px; text-align:center; margin: 0;}
a{color:gray; font-size:20px}
div, h1, h2, h3, h4, img{color: white; padding:0px; margin:0px; text-align:center;}
ul{list-style-type: none; padding:0px; margin:0px; }
table{text-align:center; color: white;}

/* Scroll-bar Specifics */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: black;
    background: black;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: gray; 
}