/* Font */
body {
    margin: 0;
    font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: right;
    width: 100px;
    height: 100px;
    padding: 2px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.3;
    width: 100px;
    height: 100px;	
    cursor: pointer; 
}

.column img:hover {
    opacity: 0.9;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
	position: relative;
}

/* The expanding image container */
.container {
	content: "";
    position: absolute;
    display: none;
	clear:both;
}

/* Expanding image text */
#imgtext {
    position: relative;
    bottom: 0px;
    left: 0px;
    color: white;
	opacity: 1.0;
    font-size: 28px;
    font-weight: bold;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 15px;
    right: -25px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

/* Background Stuff */
	body {
		color: white;
		background-color: black;
		font-size: 20px;
		margin: 0;
	}
	h1{
		text-align: center;
	}
	a {
		color: gray;
	}

/* Track */
	::-webkit-scrollbar {
    width: 5px;
    }
	
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
    }
 
/* Handle */
    ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
    }

/* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: gray; 
    }