/* General Stuff */
	body {
		color: white;
		background-color: black;
		font-size: 20px;
		margin: 0;
		font-family: Arial;
	}
	#bloctxt {
	  border-left-width: 5px;
	  border-left-style: solid;
	  border-left-color: #F00;
	  padding-left: 10px;
	  position: relative;
	  left: 50%;
	  width: 600px;
	  margin-left: -260px
    }
	h1{
		text-align: center;
	}
	h2{
		text-align: right;
	}
	a {
		color: gray;
	}
	
/* Scroll-bar Specifics */
	::-webkit-scrollbar {
    width: 5px;
    }
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
    background: gray; 
    }